---
http_interactions:
- request:
    method: get
    uri: https://itunes.apple.com/search?entity=software&term=gasapp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apple-Jingle-Correlation-Key:
      - RXEZWTIU2CD5W2YSUWMA3URMIY
      X-Apple-Translated-Wo-Url:
      - "/WebObjects/MZStoreServices.woa/ws/wsSearch?term=gasapp&entity=software&urlDesc="
      X-Apple-Orig-Url:
      - https://itunes.apple.com/search?term=gasapp&entity=software
      X-Apple-Application-Site:
      - NWK
      Apple-Timing-App:
      - 35 ms
      Content-Type:
      - text/javascript; charset=utf-8
      X-Apple-Application-Instance:
      - '1090006'
      X-Webobjects-Loadaverage:
      - '0'
      X-Apple-Ats-Cache-Key:
      - "/17.154.42.217/80/search/browser/https?entity=software&term=gasapp"
      X-Apple-Partner:
      - origin.0
    body:
      encoding: UTF-8
      string: "\n\n\n{\n \"resultCount\":1,\n \"results\": [\n{\"screenshotUrls\":[\"http://a5.mzstatic.com/us/r30/Purple/v4/c4/79/71/c4797143-769c-4386-e2a5-ada1ebbb9a24/screen1136x1136.jpeg\"],
        \"ipadScreenshotUrls\":[], \"artworkUrl512\":\"http://is1.mzstatic.com/image/pf/us/r30/Purple6/v4/1b/bc/85/1bbc85d0-6555-c47b-a30e-2bbb803cf0e0/mzl.xibggder.png\",
        \"artistViewUrl\":\"https://itunes.apple.com/us/artist/rombit/id805576975?uo=4\",
        \"artworkUrl60\":\"http://is1.mzstatic.com/image/pf/us/r30/Purple6/v4/3d/b8/bf/3db8bf87-3583-b58c-7d20-ee1f332ea7d0/icon_2x.png\",
        \"kind\":\"software\", \"features\":[], \n\"supportedDevices\":[\"iPhone5c\",
        \"iPad2Wifi\", \"iPhone5s\", \"iPadThirdGen4G\", \"iPhone6\", \"iPadMini4G\",
        \"iPhone5\", \"iPhone6Plus\", \"iPad23G\", \"iPhone4\", \"iPadFourthGen\",
        \"iPodTouchFifthGen\", \"iPadFourthGen4G\", \"iPhone4S\", \"iPadThirdGen\",
        \"iPadMini\"], \"advisories\":[\"Infrequent/Mild Mature/Suggestive Themes\",
        \"Infrequent/Mild Profanity or Crude Humor\"], \"isGameCenterEnabled\":false,
        \"languageCodesISO2A\":[\"EN\", \"DE\"], \"fileSizeBytes\":\"13610938\", \"sellerUrl\":\"http://www.gasapp.be\",
        \"trackContentRating\":\"9+\", \"trackCensoredName\":\"GasApp\", \"trackViewUrl\":\"https://itunes.apple.com/us/app/gasapp/id805576972?mt=8&uo=4\",
        \"contentAdvisoryRating\":\"9+\", \"artworkUrl100\":\"http://is1.mzstatic.com/image/pf/us/r30/Purple6/v4/1b/bc/85/1bbc85d0-6555-c47b-a30e-2bbb803cf0e0/mzl.xibggder.png\",
        \"currency\":\"USD\", \"wrapperType\":\"software\", \"version\":\"1.0\", \"genreIds\":[\"6012\",
        \"6002\"], \"artistId\":805576975, \"artistName\":\"Rombit\", \"genres\":[\"Lifestyle\",
        \"Utilities\"], \"price\":0.00, \n\"description\":\"U moest zo dringend naar
        het toilet dat de kathedraal van Antwerpen uw enige reddingsmiddel was. Of
        u vond dat het nieuwe jaar niet ingezet kon worden zonder een stevige portie
        vuurwerk. Maar u liep tegen de lamp. U bent, met andere woorden, de trotse
        eigenaar van een kersverse Gemeentelijke Administratieve Sanctie, een GAS-boete.
        \\nMet de Gasapp kunt u het met de hele wereld delen. Het is niet alleen een
        ludieke manier om met vervelend nieuws om te gaan. Het kan uw medemens helpen
        om niet hetzelfde lot te ondergaan. En het is volledig gratis.\\n\\nDe GAS
        app geeft een overzicht van alle GAS boetes per gemeente.\\nIndien u zelf
        een GAS boete hebt gekregen kan u deze ingeven in onze applicatie.\\nWij genereren
        vervolgens statistieken over deze boetes en zijn in staat de community hiermee
        beter te informeren.\", \"trackId\":805576972, \"trackName\":\"GasApp\", \"bundleId\":\"be.rombit.gasapp\",
        \"releaseDate\":\"2014-01-31T06:08:40Z\", \"sellerName\":\"ROMBIT BVBA\",
        \"primaryGenreName\":\"Lifestyle\", \"primaryGenreId\":6012, \"isVppDeviceBasedLicensingEnabled\":false,
        \"formattedPrice\":\"Free\", \"minimumOsVersion\":\"7.0\"}]\n}\n\n\n"
  recorded_at: Mon, 15 Jun 2015 15:20:24 GMT
recorded_with: VCR 2.9.3
